/* Copyright (c) 1997, 2008 by Michael J. Roberts.  All Rights Reserved. */
/*
Name
  html_tads_strs_russian.rc - TADS resource strings - Russian version
Function
  See html_tads_str.rc - this is the Russian version of the strings.
Notes
  
Modified
  10/26/97 MJRoberts  - Creation
*/

#include <Windows.h>
STRINGTABLE DISCARDABLE 
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
/* this #pragma actually has no effect - see html_tads_str.h for details */
#pragma code_page(1251)
BEGIN

    /* OK and Cancel buttons */
    61001       "ОК"              /* RESID_BTN_OK = 1 */
    61002       "Отмена"          /* RESID_BTN_CANCEL = 2 */

    /* Yes and No buttons */
    61003       "&Да"             /* RESID_BTN_YES = 3 */
    61004       "&Нет"            /* RESID_BTN_NO = 4 */

    /* yorn() Yes and No reply patterns */
    61005       "[YyДд].*"        /* RESID_YORN_YES = 5 */
    61006       "[NnНн].*"        /* RESID_YORN_NO = 6 */
END
